In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("sales_data_sample.csv",encoding='ISO-8859-1')
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [4]:
print(df.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [5]:
df['ADDRESSLINE2'].fillna('Unknown',inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_8724\1729665432.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ADDRESSLINE2'].fillna('Unknown',inplace=True)

In [6]:
print(df['ADDRESSLINE2'].isnull().sum())

0

In [7]:
df['POSTALCODE'].fillna('Unknown',inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_8724\1260572776.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['POSTALCODE'].fillna('Unknown',inplace=True)

In [8]:
df['STATE'].fillna('Unknown',inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_8724\2062899212.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['STATE'].fillna('Unknown',inplace=True)

In [9]:
print(df['POSTALCODE'].isnull().sum())

0

In [10]:
print(df['TERRITORY'].unique())

[nan 'EMEA' 'APAC' 'Japan']

In [11]:
terr=df.groupby('TERRITORY')['COUNTRY'].unique()
print(terr)

TERRITORY
APAC                                [Australia, Singapore]
EMEA     [France, Norway, Finland, Austria, UK, Spain, ...
Japan                      [Singapore, Japan, Philippines]
Name: COUNTRY, dtype: object

In [12]:
df['TERRITORY'].isnull()

0        True
1       False
2       False
3        True
4        True
        ...
2818    False
2819    False
2820    False
2821    False
2822     True
Name: TERRITORY, Length: 2823, dtype: bool

In [13]:
print(df['COUNTRY'].unique())

['USA' 'France' 'Norway' 'Australia' 'Finland' 'Austria' 'UK' 'Spain'
 'Sweden' 'Singapore' 'Canada' 'Japan' 'Italy' 'Denmark' 'Belgium'
 'Philippines' 'Germany' 'Switzerland' 'Ireland']

In [14]:
country_to_territory = {
    # APAC
    'Australia': 'APAC',
    'Singapore': 'APAC',
    'Philippines': 'APAC',
    'Japan': 'APAC',

    # EMEA
    'France': 'EMEA',
    'Norway': 'EMEA',
    'Finland': 'EMEA',
    'Austria': 'EMEA',
    'UK': 'EMEA',
    'Spain': 'EMEA',
    'Sweden': 'EMEA',
    'Italy': 'EMEA',
    'Denmark': 'EMEA',
    'Belgium': 'EMEA',
    'Germany': 'EMEA',
    'Switzerland': 'EMEA',
    'Ireland': 'EMEA',

    # NA (North America)
    'USA': 'NA',
    'Canada': 'NA'
}

df['TERRITORY'] = df.apply(
    lambda row: country_to_territory.get(row['COUNTRY'], row['TERRITORY']) 
    if pd.isnull(row['TERRITORY']) else row['TERRITORY'],
    axis=1
)

In [15]:
df[df.duplicated(subset=['ORDERNUMBER', 'PRODUCTCODE'])]

Empty DataFrame
Columns: [ORDERNUMBER, QUANTITYORDERED, PRICEEACH, ORDERLINENUMBER, SALES, ORDERDATE, STATUS, QTR_ID, MONTH_ID, YEAR_ID, PRODUCTLINE, MSRP, PRODUCTCODE, CUSTOMERNAME, PHONE, ADDRESSLINE1, ADDRESSLINE2, CITY, STATE, POSTALCODE, COUNTRY, TERRITORY, CONTACTLASTNAME, CONTACTFIRSTNAME, DEALSIZE]
Index: []

[0 rows x 25 columns]

In [16]:
df[df.duplicated(subset=['ORDERNUMBER', 'PRODUCTCODE'])]

Empty DataFrame
Columns: [ORDERNUMBER, QUANTITYORDERED, PRICEEACH, ORDERLINENUMBER, SALES, ORDERDATE, STATUS, QTR_ID, MONTH_ID, YEAR_ID, PRODUCTLINE, MSRP, PRODUCTCODE, CUSTOMERNAME, PHONE, ADDRESSLINE1, ADDRESSLINE2, CITY, STATE, POSTALCODE, COUNTRY, TERRITORY, CONTACTLASTNAME, CONTACTFIRSTNAME, DEALSIZE]
Index: []

[0 rows x 25 columns]

In [17]:
df.info

<bound method DataFrame.info of       ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...
1       5/7/2003 0:00   Shipped       2         5     2003  ...
2       7/1/2003 0:00   Shipped       3         7     2003  ...
3      8/25/2003 0:00   Shipped       3         8     2003  ...
4     10/10/2003 0:00   Shipped       4        10     2003  ...
...               ...       ...     ...       ...      ...  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                       ADDRESSLINE1  ADDRESSLINE2           CITY    STATE  \
0           897 Long Airport Avenue       Unknown            NYC       NY
1                59 rue de l'Abbaye       Unknown          Reims  Unknown
2     27 rue du Colonel Pierre Avia       Unknown          Paris  Unknown
3                78934 Hillside Dr.       Unknown       Pasadena       CA
4                   7734 Strong St.       Unknown  San Francisco       CA
...                             ...           ...            ...      ...
2818             C/ Moralzarzal, 86       Unknown         Madrid  Unknown
2819                    Torikatu 38       Unknown           Oulu  Unknown
2820             C/ Moralzarzal, 86       Unknown         Madrid  Unknown
2821          1 rue Alsace-Lorraine       Unknown       Toulouse  Unknown
2822             8616 Spinnaker Dr.       Unknown         Boston       MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA        NA              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA        NA           Young            Julie   Medium
4       Unknown      USA        NA           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA        NA         Yoshido             Juri   Medium

[2823 rows x 25 columns]>

In [18]:
import re 
df['PHONE_CLEAN']=df['PHONE'].astype(str).str.replace(r'\D+','',regex=True)
country_code_map = {
    'USA': '+1',
    'UK': '+44',
    'France': '+33',
    'Germany': '+49',
    'Australia': '+61',
    'Singapore': '+65',
    'Japan': '+81',
    'Canada': '+1',
    'Italy': '+39',
    'Spain': '+34',
    'Philippines': '+63',
    'Norway': '+47',
    'Finland': '+358',
    'Austria': '+43',
    'Sweden': '+46',
    'Belgium': '+32',
    'Denmark': '+45',
    'Switzerland': '+41',
    'Ireland': '+353',
}
def add_country_code(row):
    country=row['COUNTRY']
    phone=row['PHONE_CLEAN']
    code=country_code_map.get(country,'')
    return f"{code}{phone}" if code else phone
df['PHONE_STAND']=df.apply(add_country_code,axis=1)

print(df['PHONE_STAND'])

0         +12125557818
1          +3326471555
2       +3333146627555
3         +16265557265
4         +16505551386
             ...
2818      +34915559444
2819     +358981443655
2820      +34915559444
2821       +3361776555
2822      +16175559555
Name: PHONE_STAND, Length: 2823, dtype: object

In [19]:
df.drop(columns=['PHONE','PHONE_CLEAN'],inplace=True)

In [20]:
df.to_csv('cleaned_sales.csv',index=False)

In [21]:
df.to_excel('cleaned_sales_excel.xlsx',index=False)

lets normalize the table into 1N,2N,and 3N form

In [27]:

# Create customers table
customers = df[['CUSTOMERNAME', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'PHONE_STAND', 
                'ADDRESSLINE1', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY']]

# Add customer ID
customers['CUSTOMER_ID'] = customers.index + 1

# Merge to main dataframe
df = pd.merge(df, customers, on=['CUSTOMERNAME', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'PHONE_STAND', 
                                 'ADDRESSLINE1', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY'], how='left')

C:\Users\dell\AppData\Local\Temp\ipykernel_8724\2002326798.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers['CUSTOMER_ID'] = customers.index + 1

In [28]:

print(df)

        ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0             10107               30      95.70                2  2871.00
1             10107               30      95.70                2  2871.00
2             10107               30      95.70                2  2871.00
3             10107               30      95.70                2  2871.00
4             10107               30      95.70                2  2871.00
...             ...              ...        ...              ...      ...
173700        10414               47      65.52                9  3079.44
173701        10414               47      65.52                9  3079.44
173702        10414               47      65.52                9  3079.44
173703        10414               47      65.52                9  3079.44
173704        10414               47      65.52                9  3079.44

             ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...    CITY  \
0       2/24/2003 0:00  Shipped       1         2     2003  ...     NYC
1       2/24/2003 0:00  Shipped       1         2     2003  ...     NYC
2       2/24/2003 0:00  Shipped       1         2     2003  ...     NYC
3       2/24/2003 0:00  Shipped       1         2     2003  ...     NYC
4       2/24/2003 0:00  Shipped       1         2     2003  ...     NYC
...                ...      ...     ...       ...      ...  ...     ...
173700   5/6/2005 0:00  On Hold       2         5     2005  ...  Boston
173701   5/6/2005 0:00  On Hold       2         5     2005  ...  Boston
173702   5/6/2005 0:00  On Hold       2         5     2005  ...  Boston
173703   5/6/2005 0:00  On Hold       2         5     2005  ...  Boston
173704   5/6/2005 0:00  On Hold       2         5     2005  ...  Boston

        STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME  \
0          NY      10022     USA        NA              Yu             Kwai
1          NY      10022     USA        NA              Yu             Kwai
2          NY      10022     USA        NA              Yu             Kwai
3          NY      10022     USA        NA              Yu             Kwai
4          NY      10022     USA        NA              Yu             Kwai
...       ...        ...     ...       ...             ...              ...
173700     MA      51003     USA        NA         Yoshido             Juri
173701     MA      51003     USA        NA         Yoshido             Juri
173702     MA      51003     USA        NA         Yoshido             Juri
173703     MA      51003     USA        NA         Yoshido             Juri
173704     MA      51003     USA        NA         Yoshido             Juri

       DEALSIZE   PHONE_STAND CUSTOMER_ID
0         Small  +12125557818           1
1         Small  +12125557818          20
2         Small  +12125557818          55
3         Small  +12125557818          74
4         Small  +12125557818          81
...         ...           ...         ...
173700   Medium  +16175559555        2614
173701   Medium  +16175559555        2708
173702   Medium  +16175559555        2717
173703   Medium  +16175559555        2743
173704   Medium  +16175559555        2823

[173705 rows x 26 columns]

In [30]:
products=df[['PRODUCTCODE','PRODUCTLINE','MSRP']]
products = products.copy() 

products['PRODUCT_ID']=products.index+1

In [31]:
sales_orders = df[['ORDERNUMBER', 'ORDERLINENUMBER', 'PRODUCTCODE', 'QUANTITYORDERED',
                   'PRICEEACH', 'ORDERDATE', 'STATUS', 'CUSTOMER_ID']]

In [39]:
customers.to_csv('normalized_customers.csv', index=False)
products.to_csv('normalized_products.csv', index=False)
sales_orders.to_csv('normalized_sales_orders.csv', index=False)

In [33]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip